$mainColor : #AB9058;
$secondColor : #EBE9E9;
$thirdColor: #AF9751;
$fourthColor: #414241;
$cartColor : rgba(175,151,81,0.2);
$lineColor : rgba(175,151,81,0.1);
$borderColor : #9FBED8;
$yellowColor : #AF9751;
$overlayColor: #000104;
$darkColor: #000;