footer.pt-4
  .container-sm.line-color
    .row 
      .col-12.col-lg-2.text-center.mb-5
        img.footer-logo(src="imgs/logo-footer@2x.png")
      .col.d-none.d-lg-block
        .quick-links.d-flex.justify-content-evenly
          .link.d-inline-block
            h2 Thoub
            ul
              li
                a(href="#") White
              li
                a(href="#") Souf / Colored 
          .link.d-inline-block
            h2 Homeware
            ul
              li
                a(href="#") Jalbeya 
              li
                a(href="#") Sleep Wear
          .link.d-inline-block
            h2 Men's Wear
            ul 
              li
                a(href="#") Sirwal
              li
                a(href="#") Underwears
          .link.d-inline-block
            h2 Accessories
            ul
              li
                a(href="#") Ghotra w Shema3'
              li
                a(href="#") Oud
              li
                a(href="#") Wallets
              li
                a(href="#") Bags
          .link.d-inline-block
            h2 Others
            ul
              li
                a(href="#")  Arabic Sandals
              li
                a(href="#")  Men's Grooming
      .col-12.col-lg-3
        .subscribe
          h2 Subscribe to our newletter
          .input-box
            input.form-control(type="search" placeholder="Enter your email to subscribe" aria-label="Search")
            button.btn(type="button") Submit
          .social-icons
            ul.ps-0.text-lg-end.text-center
              li.me-2.d-inline-block
                a(href="#")
                  img(src="imgs/Socialyoutube@2x.png" width="30px")
              li.me-2.d-inline-block
                a(href="#")
                  img(src="imgs/Social003-instagram@2x.png" width="30px")
              li.me-2.d-inline-block
                a(href="#")
                  img(src="imgs/SocialBitmap@2x.png" width="30px")
              li.d-inline-block
                a(href="#")
                  img(src="imgs/Socialfacebook@2x.png" width="30px")
  .container-sm 
    .copy-rights
      .row 
        .col-12.col-lg-6.text-center.text-lg-start
          span.start All Copyrights belong to Naseej, 2021
        .col-12.col-lg-6.text-center.text-lg-end
          span.end Online Store Powered By MitchDesigns