footer{
  background-color: #000;
  .footer-logo{
    max-width: 192px;
    @media #{$large} {
      max-width: 100%;
    }
  }
  .subscribe{
    h2{
      font-size: 12px;
      color: #fff;
      margin-bottom: 12px;
      font-family: $Ubuntu-bold;
    }
    .input-box{
      position: relative;
      .form-control{
        font-size: 12px;
        color: #CBC9CC;
        background: rgba(203,201,204,0.1);
        padding-top: 11px;
        padding-bottom: 11px;
        border: 0;
        font-family: $Ubuntu-Regular;
      }
      .btn{
        color: #fff;
        background-color: #AF9751;
        position: absolute;
        right: 3px;
        top: 3px;
        font-size: 12px;
        padding: .438rem 1.39rem;
        font-family: $Ubuntu-bold;
        font-weight: bold;
      }
    }
    .social-icons{
      margin-top: 24px;
    }
  }
  .quick-links{
    .link{
      h2{
        color: #fff;
        font-size: 15px;
        margin-bottom: 13px;
        font-weight: bold;
        font-family: $Ubuntu-bold;
      }
      ul{
        padding-left: 0;
        li{
          margin-bottom: 10px;
          &:last-child{
            margin-bottom: 0;
          }
          a{
            font-size: 13px;
            color: #fff;
            text-decoration: none;
            font-family: $Ubuntu-Regular;
          }
        }
      }
    }
  }
  .copy-rights{
    padding: 7px 0;
    span{
      font-size: 12px;
      color: #fff;
      font-family: $secondArabicFont;
      &.end{
        opacity: 30%;
      }
    }
  }
}