.navbar{
  .top-nav{
    padding: 15px 0;
    .navbar-brand{
      margin-right: 40px;
    }
    .navbar-collapse{
      form{
        position: relative;
        .form-control{
          padding: 0.438rem 0.75rem;
          width: 469px;
          font-family: $secondArabicFont;
          font-size: 12px;
          color: #1A1919;
        }
        .btn{
          color: #6c757d;
          position: absolute;
          right:12px;
          &:focus-visible{
            outline: none;
          }
          &:focus{
            box-shadow: unset;
          }
        }
      }
      .login-btn{
        background-color: $secondColor !important;
        font-family: $Ubuntu-Medium;
        padding: 9px 12px;
        font-size: unset;
        .fa-user-circle{
          margin-right: 10px;
          font-size: 20px;
        }
        span{
          font-size: 12px !important;
          font-family: $mainFont;
        }
      }
      .cart-box{
        margin-left: 15px;
        background-color: $cartColor;
        color: $mainColor;
        padding: 8px;
        border-radius: 4px;
        span{
          margin-left: 3px;
        }
      }
    }
  }
  .bottom-nav{
    box-shadow: 0 2px 1px rgba(0, 0, 0, .08);
    .navbar-nav{
      .nav-item{
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        .nav-link{
          font-size: 13px;
          color: #000;
          font-weight: bold;
          font-family: $Ubuntu-Medium;
          &::after{
            display: none;
          }
          i{
            margin-left: 5px;
            font-size: 10px;
          }
        }
      }
    }
  }
}

.line-color{
  border-bottom: 1px solid $lineColor;
}
.justify-content-unset{
  justify-content: unset;
}
